body {
  background-color: purple;
  text-align: center;
  font-family: "Space Mono", monospace;
}

/* Nav Bar */
.navi ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background: #ffffff;
  opacity: 0.5;
  margin: auto;
  transition: 0.5s;
  position: relative;
  top: 3px;
}

.navi ul li a:hover::after {
  width: 100%;
}

.nav-link {
  letter-spacing: 1px;
  font-size: 1rem;
  display: inline-block;
}

.side {
  font-weight: bold;
  opacity: 0.7;
  letter-spacing: 2px;
  font-size: 1.9rem;
}

.navbar {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0;
  margin: 0;
}

#title {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to left ,rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),url("images/5.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 3% 15%;
  position: relative;
}

/* intro */
.intro h4 ,.intro h1 {
  color: #ffffff;
  margin: 0 auto;
  font-weight: bold;
}

.intro p{
    color: #ffffff;
    margin: 0 auto;
    font-size: 1rem;
  }

.intropara{
    display: inline-block;
    width: 35%;
    color: #ffffff;
    font-size: 1rem;
    line-height: 30px;
}

.intro h4 ,.intro h1,.intro p,.intro para{
    padding: 15px 0%;
}

.intro {
  text-align: right;
  /* margin: 10% 0% 5% 0%; */
  
  transform: translate(0%,0%);
  
}

.centered{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 70%;

}

.titlebtn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding :12px  34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 1.5% 0%;
}

.titlebtn:hover{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #de4d2c;
    padding :12px  34px;
    font-size: 13px;
    background-color: #de4d2c;
    position: relative;
    cursor: pointer;
    margin: 1.5% 0%;
    transition: 0.4s;

}

img {
  height: 20%;
  width: 20%;
  margin: 0 auto;
}

#about {
  min-height: 400px;
  width: 100%;
  background-color: #ffffff;
}

@media(max-width:800px){
    .intropara{
        width: 60%;
    }
}